@use "../abstracts/variable" as variable;
@use "../abstracts/mixin" as mix;
.cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 402px;
    z-index: 0;
    width: 33%;
    
    
    
    .card-img {
        position: absolute;
        img {
            height: 55vh;
            width: 40vh;
            z-index: 1;
            object-fit: cover;
        }
    }

    .card-frame {
        z-index: 2;
        img {
            width: 402px;
        }
    }

    .card-stats {
        z-index: 3;
        img {
            position: absolute;
            height: 60px;
            top: 54vh;
            left: 32vh;
        }
    }

    .card-title {
        z-index: 3;
        h3 {
            position: absolute;
            font-size: 1.5rem;
            top: 6.5vh;
            left: 7vh;
        }
    }

    .card-effect {
        z-index: 5;
        p {
            padding-left: 1rem;
            position: absolute;
            font-size: 1.2rem;
            width: 50%;
            text-align: left;
            top: 42vh;
            left: 7vh;
            color: #F4F1DE;
        }
    }

    .card-power {
        z-index: 6;
        display: flex;
        position: absolute;
        top: 55vh;
        left: 36vh;
        p {
            color: black;
            font-size: 1.8rem;
        }
    }

    .card-details {
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: left;
        a {
            border: 1px solid #823038;
            background-color: #823038;
            border-radius: 1rem;
            color: #F4F1DE;
            font-size: 1.2rem;
            padding: 1rem;
            text-decoration: none;
            position: relative;
        }
    }
}
}
