@use "../abstracts/variable" as variable;
@use "../abstracts/mixin" as mix;

body {
    min-height: 60vh;
    #banner {
        background-image: url(../../../../public/asset/img/banner.jpeg);
        height: 50rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    
    &::before{
        background-color: rgba(255, 255, 255, 0.303);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
        .banner_container {
            @include mix.container;
            
            h1 {
                color: #232C33;
                font-size: 6rem;
                text-align: center;
                position: relative;
                padding-top: 10rem;
                z-index: 2;
            }
        }
    }

    #display {
        background-color: #232C33;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .container {
            h2 {
                text-align: center;
                color: #F4F1DE;
                font-size: 2rem;
            }
        }
    }
}        