@use "../abstracts/variable" as variable;
@use "../abstracts/mixin" as mix;

#loginpage {
    background-color: #232C33;
    padding-bottom: 4rem;
    padding-top: 4rem;

    .container {
        @include mix.container;

        .container-form {
            background-color: #F4F1DE;
            padding-top: 3rem;
            padding-bottom: 3rem;
            border-radius: 2rem;
            

            form {
                text-align: center;
                
                
                label {
                    font-size: 1.5rem;
                    display: block;
                    color: #823038;
                }

                input {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    border-radius: 1rem;
                    border: none;
                    padding: 1rem;
                    color: #823038;
                }

                button {
                    
                    background-color: #232C33;
                    color: #F4F1DE;
                    width: 30%;
                    border-radius: 1rem;
                    padding: 1rem;
                    border: none;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }

                .path {
                    display: flex;
                    justify-content: center;
                
                    a {
                        text-decoration: none;
                        display: block;
                        width: 30%;
                        text-align: center;
                        background-color: #232C33;
                        color: #F4F1DE;
                        border-radius: 1rem;
                        padding: 1rem;
                        border: none;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}