@use "../abstracts/variable" as variable;
@use "../abstracts/mixin" as mix;

body {
    #modify {
        background-color: #232C33;
        text-align: center;
        padding-top: 2rem;
        h1 {
            color: #F4F1DE;
            font-size: 2rem;
        }

        .container {
            @include mix.container;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;

            label {
                color: #F4F1DE;
                display: block;
                font-size: 2rem;
                padding-bottom: 2rem;
                padding-top: 2rem;
            }

            input, textarea, select {
                color: #823038;
                font-size: 1.5rem;
                padding: 1rem;
                border-radius: 1rem;
            }

            button {
                margin-top: 1rem;
                border: 1px solid #823038;
                background-color: #823038;
                border-radius: 1rem;
                color: #F4F1DE;
                font-size: 1.2rem;
                padding: 1rem;
                text-decoration: none;
                position: relative;
            }

        }
    }
}