{% extends 'base.html.twig' %}

{% block title %}Assistant de création de cartes{% endblock %}

{% block main %}
    <section>
    <h1>Bienvenue dans l'assistant de création de cartes</h1>
    <p>Grâce à notre système vous allez pouvoir créer en quelques étapes la carte custom de vos rêves</p>
    <a href="{{path('stepone')}}">a</a>
    </section>
{% endblock %}
