{% extends 'base.html.twig' %}

{% block title %} Assistant de création de cartes - Étape 5 {% endblock %}

{% block body %}
<section id="modify">
    <h1>Modifie les propriétés de ta carte</h1>
    <div class="form container">
{{ form_start(modifycard) }}
    {{ form_widget(modifycard)}}
    <div class="formbtn">
        <button class="btn" type="submit">Modifions ma carte</button>
    </div>
{{ form_end(modifycard) }}
</section>
{% endblock %}