{% extends 'base.html.twig' %}

{% block title %} Assistant de création de cartes - Étape 5 {% endblock %}

{% block body %}
<section id="artwork">
    <div class="form container">
{{ form_start(stepfive) }}
    {{form_row(stepfive.imageFile, {
        'label': 'Image de votre carte',
        'label_attr' : {'class' : 'file'}
    }) }}
    <div class="formbtn">
        <button class="btn" type="submit">Étape suivante</button>
    </div>
{{ form_end(stepfive) }}
</section>
{% endblock %}