{% extends 'base.html.twig' %}

{% block title %} Assistant de création de cartes - Étape 4 {% endblock %}

{% block body %}
<section id="color">
    <div class="form container">
{{ form_start(stepfour) }}
    {{form_row(stepfour.color, {
        'label': 'Couleur de votre carte'
    }) }}
    <div class="formbtn">
        <button class="btn" type="submit">Étape suivante</button>
    </div>
{{ form_end(stepfour) }}
</section>
{% endblock %}