// Abstracts
@use "scss/abstracts/font";
@use "scss/abstracts/mixin";
@use "scss/abstracts/variable";

// Base
@use "scss/base/normalize";
@use "scss/base/reset";

// Layout
@use "scss/layouts/body";
@use "scss/layouts/footer";
@use "scss/layouts/header";
@use "scss/layouts/responsive";

// Pages
@use "scss/pages/home";
@use "scss/pages/login";
@use "scss/pages/museum";
@use "scss/pages/register";
@use "scss/pages/card";
@use "scss/pages/details";