// Abstracts
@use "scss/abstracts/variable";
@use "scss/abstracts/mixin";
@use "scss/abstracts/font";

// Base
@use "scss/base/normalize";
@use "scss/base/reset";

// Layout
@use "scss/layout/header";
@use "scss/layout/body";
@use "scss/layout/footer";
@use "scss/layout/responsive";

// Pages