@font-face {
    font-family: "Roboto";
    src: url(../../../../public/assets/fonts/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../../../../public/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}