@font-face {
    font-family: "Roboto";
    src: url(../../../../public/asset/fonts/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../../../../public/asset/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}